@charset "UTF-8";    
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Roboto', sans-serif;
    background-color:#f6f6f6;
}
ul{
    display: inline-block;
    list-style: none;
}
article, main{
    width: 80%;
    margin: 40px auto 0 auto;
    color: #3d3d3d;
    text-align: justify;
    font-size: 1.1em;
}
p{
    font-family: 'Noto Serif', serif;
}
hr{
    height: 2px;
    border-radius: 3px;
    border-top: none;
    background-color: #ff6666;
    width: 44px;
    margin: 40px auto 80px;
    color: #FF6666;
}


/*footer */
footer{
    background-color: #444343;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: both;
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;    
}
footer .redes-sociais, footer nav{
    width: 26%;
}
nav{
    margin-left: 10%;
}
footer .img-destaque-footer{
    margin-right: 10%;
}
footer ul{
    display: inline-block;
    list-style: none;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
ul{
    margin-right: 15px;  
}

.img1-footer, .img2-footer, .img3-footer{
    width: 40px;
    height: 40px;
    margin-left: 3px;
}
.img3-footer{
    margin-left: 0;
}
.img3-footer:hover, .img2-footer:hover, .img1-footer:hover{
    cursor: pointer;
}
.img4-footer{
    width: 120px;
    height: 150px;
}

/*index*/
.index{
    background-color: #fff;
}
.primeira-parte{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.segunda-parte{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
}
.index-article h1{
    font-weight: 200;
    font-size: 3.0em;
    color: #fff;
    background-color: #FF6666;
    padding: 5px 10px;
}
.index-article h2 > b{
    color: #ff6666
}
.index-article{
    margin-top: 3px;
    padding-top: 30px;
    margin-bottom: 0;
}
.foto-article{
    width: 400px;
    border-radius: 0 0 10% 10%;
}

.index-article p:nth-child(1){

    font-family: 'Noto Serif', serif;
}
.segunda-parte h2{
    width: 350px;
    font-size: 2.1em;
    font-weight: 600;
    text-align: initial;
    text-transform: uppercase;
    margin-right: 30px;
}
.segunda-parte p{
    width: 400px;
    margin-bottom: 25px;
}
/* header comum */
.comum-header{
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: solid 1px rgb(185, 184, 184);
    top: 0px;
    box-shadow: 1px 0.1px 7px #000;
    z-index: 5;

}
.comum-header .alinhamento-header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comum-header nav{
    text-align: right;
    margin-left: auto;
    padding-top: 25px;
}
.h-index{
    border: none;
    box-shadow: none;
    position: initial;
}
.comum-header .alinhamento-header a{
    text-decoration: none;
}
.item-nav{
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 1.1em;
    margin-left: 20px;
}

.comum-header .item-nav:hover{
    color:#ff6666;
}

.comum-header .nome-menor{
    padding-top: 5px;
    color:  #ff6666;
    font-size: 1.3em;
    max-width: 190px;
}

.comum-header .nome-maior{
    max-width: 190px;
    line-height: 20px;
    font-weight: lighter;
    color:  #ff6666;
    font-size: 2.1em;
    letter-spacing: -3px;
}

article, main{
    padding-top: 70px;
}

/* obras */
.obras h1{
    text-align: center;
    font-weight: 200;
    font-size: 2.1rem;
}
.obras-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 
}
.obras-main figure{
    opacity: 1;
}
.obras-main figure:hover{
    transform: scale(1.05);
    opacity: 0.9;
}
.obras-main img{
    width: 230px;
    height: 340px;
}
.obras-main figcaption{
    text-align: center;
}

/* table */
.costas-tabela{
    margin: 60px auto 0;
    background-color: #ececea;
    padding: 5px 0;
    width: 100%;
}
table{
    margin: 60px auto;
    font-size: 1.6em;
    border: 0px solid #132743;
    width:78%;
}
table caption{
    font-weight: bold;
    margin-bottom: 60px;
    color: #ff6666;
}
table th{
    font-weight: 400;
}
tr{
    height: 50px;  
    
}
table .meio{
    background-color: #ececea;
}
td{
    background-color: #cfcfcf;
    text-align: center;
    font-weight: lighter;
}

/* curiosidades */
.titulo-painel-curiosidades{
    text-align: center;
    font-weight: 200;
    font-size: 2.1rem;
}
.painel-curiosidades{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.painel-curiosidades h3{
    text-align: initial;
}
.painel-curiosidades p{
    font-size: 0.8em;
    font-family: 'roboto', 'sans-serif';
}
main .painel-curiosidades article{
    background-color: #dad1d1;
    width: 30%;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
}

.painel-curiosidades .article-maior{
    width: 65%;
}
.painel-curiosidades h3, .painel-curiosidades p{
    margin: 10px 15px;
    font-weight: normal;
}

/* form */
.contato{
    display: flex;
    align-items: flex-start;
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}
.aside-contato{
    padding-top: 100px;
    float: left;
    width: 30%;
    padding-left: 10%;
}
.contato form{
    width: 100%;
    border-left: 1px solid #ff6666;
    margin-bottom:60px;
    margin-left: 10%;
}
.aside-contato h1{
    font-size: 2.1em;
}
.aside-contato h2{
    font-size: 1.1em;
    font-weight: 400;
    color: #6d6d6d
}

.form_elements{
    width: 90%;
    margin: 0 auto;
}
form label{
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}
form input, textarea{
    margin-top: 7px;
    margin-bottom: 13px;
    width: 100%;
    display: block;
    height: 30px;
    background-color:  rgb(241, 241, 241);
    border: none;
    border-bottom: 2px solid #838181;
    font-size: 1.9em;
    color: #6d6d6d;

}
textarea{
    resize: none;
    height: 100px;
}
form input:focus{
    outline: none;
}
fieldset label{
    margin: 0 auto;
}
form button{
    background-color: #4DFF7F;
    margin-top: 10px;
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #52a569;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
}
.time{
    clear: both;
    width: 100%;
    background-color: #ececea;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.time header{
    width: 100%;
}
.time header h2{
    text-align: center;
    font-size: 1.9em;
    font-weight: lighter;
    margin-bottom: 90px;
}
.membro{
    background-image: linear-gradient(to top, #ff6666 10%, #fff 0%, #fFf 70%, #fde45600 30%);
    width: 22%;
    padding-bottom: 70px;
    border-radius: 0px 0px 8px 8px;
}
.membro img{
    width: 170px;
    display: block;
    margin: 0 auto;
    border: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    margin-bottom: 20px;
}
.membro h3, .membro h4, .membro h5{
    color: rgb(109, 109, 109);
    text-align: center;
    font-size: 1.6em;
}
.membro h5{
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: normal;
}
.membro h3, .membro h4{ 
    color: #7f8996;
    font-weight: lighter;
}
.membro.primeiro{
    margin-left: 10%;
}
.membro.ultimo{
    margin-right: 10%;
}
/* Biografia */
.biografia h1{
    text-align: center;
    font-weight: 200;
    font-size: 2.1rem;
}
.biografia > section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.biografia img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}
.biografia .lado-foto{
    width: 70%;
    margin-bottom: 30px;
}
.biografia p{
    margin: 10px auto 2px auto;
    width: 80%;
    text-align: justify;
}
.biografia p+p{
    text-indent: 2em;
}   
/* GALERIA */
.galeria h1{
    text-align: center;
    font-weight: 200;
    font-size: 2.1rem;
}
.galeria section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.galeria figure{
    width: 40%;
    margin-bottom: 35px;
}
.galeria img{
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
}
.galeria figcaption{
    text-align: center;
    color: #ff6666;
    background-color: #e3e3e3;
    padding: 20px;
}


/* PÁGINA INDIVIDUAL OBRA  e  ESTILO LETERÁRIO */
.pagina_obra, .estLiterario{
    display: flex;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}
.pagina_obra header, .estLiterario header{
    width: 100%;
}
.paragrafos{
    margin-bottom: 20px;
    width: 55%;
    margin: 0 0 0 auto;
}
.pagina_obra p{
    text-indent: 2em;
}
.pagina_obra h1, .estLiterario h1{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 200;
    font-size: 2.1rem;
}
.pagina_obra article, .estLiterario article{
    width: 65%;
    padding-top: 0;
    margin-top: 0;
    margin-left: 10%;
}
.obra_individual_lado{
    width: 25%;
}
.estLiterario img{
    border-radius: 3px;
}
.pagina_obra img, .estLiterario img{
    width: 220px;
    height: 280px;
    margin-bottom: 20px;
}

/* ACADEMIA BRASILEIRA DE LETRAS */
.acad{
    display: flex;
    flex-wrap: wrap;
}
.acad header{
    width: 100%;
}
.acad h1{
    text-align: center;
    margin-bottom: 35px;
    font-weight: 200;
    font-size: 2.1rem;
}
.acad img{
    width: 35%;
    height: 370px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #fff;
}

.acad section{
    width: 40%;
    margin: 20px auto 0px auto;
}


/* Referencias dos textos */
.referencias, .biografia .referencias{
    width: 100%;
    margin: 0 auto;
    background-color: initial;
    display: initial;
    color: #6e6b6b;
}
.referencias p, .segunda-parte .referencias p{
    text-align: initial;
    font-family: 'roboto', 'sans-serif';
    font-weight: 300;
    font-size: 0.9em;
    text-indent: initial;
    margin-top: 10px;
}
.biografia .referencias p, .segunda-parte .referencias p{
    width: 100%;
}

.costas-tabela .referencias p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}